version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: product-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - product-network

volumes:
  mongo_data:


networks:
  product-network:
    driver: bridge
